<div>
    <form (ngSubmit)="doFormSubmit()" #SeedForm="ngForm"></form>
</div>
<table style="background-color: rgb(244, 221, 226); border: solid 2px;">
    <tr>
        <td style="width: 20%; background-color: rgb(244, 221, 226);">
            
            <table>

                <div class="form-group">
                    <label for="id">Seed Id</label>
                    <input type="text" [(ngModel)]="s.id" class="form-control" id="id" name="id"
                        #id="ngModel" placeholder="Enter Seed Id" required pattern="[0-9][0-9][0-9]">
                        <div *ngIf="id.invalid">
                            <span style="color: red;" *ngIf="id.errors?.['required']">
                                Seed Id is required 
                            </span>
                        </div>
                </div>
    <br>
    <div class="form-group">
        <label>Seed Name</label>
        <input type="text" [(ngModel)]="s.seedName" class="form-control" id="sname" name="sname"
            #seedName="ngModel" placeholder="Enter Seed Name" required pattern="[0-9][0-9][0-9]">
            <div *ngIf="seedName.invalid">
                <span style="color: red;" *ngIf="seedName.errors?.['required']">
                    Seed Name is required 
                </span>
            </div>
    </div>

    <tr>
        <td>Bloom Season</td>
        <td> 
            <select #bloomSeason>
                <option> Select </option>
                <option> Summer </option>
                <option> Winter </option>
                <option> Spring </option>
                <option> Monsoon </option>
                
            </select>
        </td>
    </tr>

    <tr>
        <td>Types Of Seeds</td>
        <td> 
            <select #typesOfSeeds>
                <option> Select </option>
                <option> Fruit Seed </option>
                <option> Vegetable Seed </option>
                <option> Flower Seed </option>
                <option> Herb Seed </option>
            </select>
        </td>
    </tr>

    <div class="form-group">
        <label>Seed Stock</label>
        <input type="text" [(ngModel)]="s.seedsStock" class="form-control" id="sseedsstock" name="sseedsstock"
            #seedsStock="ngModel" placeholder="Enter Seed Stock" required pattern="[0-9][0-9][0-9]">
            <div *ngIf="seedsStock.invalid">
                <span style="color: red;" *ngIf="seedsStock.errors?.['required']">
                    Seed Stock is required 
                </span>
            </div>
    </div>
     <div class="form-group">
        <label>Seeds Per Packet </label>
        <input type="text" [(ngModel)]="s.seedsPerPacket" class="form-control" id="sseedsPerPacket" name="sseedsPerPacket"
            #seedsPerPacket="ngModel" placeholder="Enter Seeds Per Packet" required pattern="[0-9][0-9][0-9]">
            <div *ngIf="seedsPerPacket.invalid">
                <span style="color: red;" *ngIf="seedsPerPacket.errors?.['required']">
                    Seeds Per Packet is required 
                </span>
            </div>
    </div>
     <div class="form-group">
        <label>Price </label>
        <input type="text" [(ngModel)]="s.price" class="form-control" id="sprice" name="sprice"
            #price="ngModel" placeholder="Enter the price" required pattern="[0-9][0-9][0-9]">
            <div *ngIf="price.invalid">
                <span style="color: red;" *ngIf="price.errors?.['required']">
                    Enter the Price
                </span>
            </div>
    </div>
    <tr>
        <td> Discount </td>
        <td> <input type="text" #discount/> </td>
    </tr>

    <tr>
        <td> Seed Description </td>
        <td> <input type="text" #about/> </td>
    </tr>

    <tr>
        <td> Image Name </td>
        <td> <input type="text" #image/> </td>
    </tr>
        <tr>
            <td> Star Rating </td>
            <td> <input type="text" #starRating/> </td>
        </tr>
        <tr>
        <td> <input type="reset" vaule="Clear All"></td>
        <td> <input type="button" 
            (click)="readSeed(id.value,seedName.value,bloomSeason.value,typesOfSeeds.value,seedsStock.value,seedsPerPacket.value,image.value,about.value,discount.value,price.value,starRating.value)"
            value="Add Seed" /> </td>
        </tr>
    </table>
    <br/>

</td>


<td style="width: 80%;">
    
    <!-- <app-tdfseed></app-tdfseed> -->
</td>

    </tr>
</table>
